<div class="container">
    <div class="wrap">
        <div class="container-form">
            <span class="title">
                Sign In
            </span>
            <form  [formGroup]='loginForm'>
                <div class="wrap-input-form">
                    <span class="form-title">Username</span>
                    <input class="input-form" type="text" formControlName="username">
                </div>

                <div class="wrap-input-form">
                    <span class="form-title">Password</span>
                    <input class="input-form" type="password" formControlName="password">
                </div>

                <div class="container-form-btn">
                    <button class="form-btn" (click)="submit()">
                        Login
                    </button>
                </div>
            </form>

            <ul class="desc">
                <li class="">
                    <span class="txt1">
                        Forgot
                    </span>

                    <a href="#" class="txt2">
                        Username / Password?
                    </a>
                </li>

                <li>
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a href="#" class="txt2">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
