<!-- ====== toolbar ============ -->
<div class="toolbar" role="banner">
    <i class="material-icons md-52">medical_services</i>
    <span> Covid Global Report</span>
    <div class="spacer"></div>
    <div class="float-right" style="font-family: Poppins-Regular;">
        Selamat Datang, <b>User 1</b>
    </div>
    <i class="material-icons md-48">exit_to_app</i>
</div>

<!-- ======== card info ========= -->
<div class="card-container">
  <div class="card-dashboard">
    <div class="info mati">
      <i class="fa fa-ambulance icon"></i>
      <div>
        <b>{{ globalData.TotalDeaths | number }}</b>
        <span>Meninggal Dunia</span>
      </div>
    </div>
  </div>

  <div class="card-dashboard">
    <div class="info infeksi">
        <i class="material-icons icon">coronavirus</i>
        <div>
          <b>{{ globalData.TotalConfirmed | number }}</b>
          <span>Terinfeksi</span>
        </div>
      </div>
  </div>

  <div class="card-dashboard">
    <div class="info sembuh">
      <i class="fa fa-heart icon"></i>
      <div>
        <b>{{ globalData.TotalRecovered | number}}</b>
        <span>Sembuh</span>
      </div>
    </div>
  </div>
</div>

<!-- ======== table data ======== -->
<table id="color" class="table table-hover full-width">
  <thead>
    <tr>
        <th>Negara</th>
        <th>Terinfeksi</th>
        <th>Sembuh</th>
        <th>Meninggal</th>
        <!-- <th></th> -->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of byCountry; index as i" routerLink="detail/{{i}}" [queryParams]="{item:item.Slug}">
      <td>{{ item.Country }}</td>
      <td>{{ item.NewConfirmed }}</td>
      <td>{{ item.NewDeaths }}</td>
      <td>{{ item.NewRecovered }}</td>
      <!-- <td>{{ item.Date }}</td> -->
    </tr>
  </tbody>
</table>
