<div class="toolbar" role="banner">
    <i class="material-icons md-52">medical_services</i>

    <span> Covid Global Report</span>
    <div class="spacer"></div>
    <div class="float-right" style="font-family: Poppins-Regular;">
        Selamat Datang, <b>User 1</b>
    </div>
    <i class="material-icons md-48">more_vert</i>
</div>

<div class="card-container">
  <a class="card" href="#">
    <i class="fa fa-ambulance icon"></i>
    <span>Meninggal Dunia</span><br>
   </a>
  <a class="card" href="#">
    <i class="material-icons icon">coronavirus</i>
    <span>Terinfeksi </span>
  </a>
  <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
    <i class="fa fa-heart icon"></i>
    <span>Sembuh</span>
  </a>
</div>

<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Negara</th>
									<th class="cell100 column2">Terinfeksi</th>
									<th class="cell100 column3">Meninggal</th>
									<th class="cell100 column4">Sembuh</th>
									<th class="cell100 column5">Tanggal</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

                <tr class="row100 body">
									<td class="cell100 column1">Indonesia</td>
									<td class="cell100 column2">100</td>
									<td class="cell100 column3">2</td>
									<td class="cell100 column4">88</td>
									<td class="cell100 column5">21 September 2020</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
